<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fleacircus.com.learningproject">

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".IntroActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IntroActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".UserCreationActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Quiz_create_New" />
        <activity android:name=".Quiz_create_NewQuestions" />
        <activity android:name=".Quiz_create_NameDialogBox" />
        <activity android:name=".Quiz_introActivity" />
        <activity android:name=".Quiz_Listview" />
        <activity android:name=".Quiz_mainActivity" />
        <activity android:name=".Quiz_resultActivity" />

        <activity android:name=".Flashcard_create_Cards" />
        <activity android:name=".Flashcard_create_New" />
        <activity android:name=".Flashcard_create_NameDialogBox" />
        <activity android:name=".Flashcard_introActivity" />
        <activity android:name=".Flashcard_ListView" />
        <activity android:name=".Flashcard_mainActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>